{% extends 'partials/base.html' %}
{% block title %}Product Page{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Update items</h3>
                <hr>
                <form method="POST">
                    {{form.as_p}}
                    {% csrf_token %}
                    <a class="btn btn-secondary" href="{% url 'dashboard-product' %}">Cancel</a>
                    <input type="submit" class="btn btn-success" value="Update">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}