{% extends 'partials/base.html' %}
{% block title %}Password Reset Done Page{% endblock title %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border p-3 bg-white">
                <h3>Password Reset Done </h3>
                <hr>
                <div class="alert alert-info">
                    <h4>A mail has been sent to the email you provided. It has Intsruction you need to follow to reset your password</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

