
{% extends 'partials/base.html' %}
{% block title %}Sign Up Page{% endblock title %}

{% block content %}
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>SignUp Page</h3>
                <form action="" method="POST">
                    {{form.as_p}}
                    {% csrf_token %}
                    <br><br>
                    <input href="{% url 'dashboard-index' %}" type="submit" class="btn btn-success" value="Sign Up">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


